<%= form_with model: [entity,@comment] do |form| %>
  <div>
    <%= form.text_area :body%>
  </div>

  <br/><br/>
  <%= form.submit "COMMENT"%>

<% end %>

<% @comments.each do |comment|%>
  <div>
    <%= comment.body%><br/>
    <p>Send <%= (((comment.created_at - DateTime.now)*-1)/60/60/24).round() %> days ago</p>
    <%= link_to "destroy", category_comment_path(comment), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      }%>
  </div>
<% end %>