<%=form_with model: photo do |form|%>
    <%if photo.errors.any? %>
      <ul>
        <% photo.errors.full_messages.each do |error|%>
        <li> <%=error%> </li>
        <% end %>
      </ul>
    <%end%>

    <%= form.label :title%>
    <%= form.text_field :title%>
    <%= form.label :description%>
    <%= form.text_area :description%>
    <div>
      <%= form.label :category_id %> <br/>
      <%= form.collection_select :category_id, Category.order(:name), :id, :name, { selected: category.id } %>
    </div>
    <%= form.label :cover%>
    <%= form.file_field :cover%>
    <%= image_tag(photo.cover) if photo.cover.attached?%>
    <div class="buttons_photo">
      <%= form.submit 'Save photo' %>
    </div>
<%end%>