<%=form_with model: photo do |form|%>
    <%if photo.errors.any? %>
      <ul>
        <% photo.errors.full_messages.each do |error|%>
        <li> <%=error%> </li>
        <% end %>
      </ul>
    <%end%>
    <div class="flex flex-column gap-0.5">
      <div>
        <div class="overline-bs regular px-1 py-4"> <%= form.label :title%> </div>
        <div class="input-container shadow-xs px-1"> <%= form.text_field :title, class: "input" %> </div>
      </div>
      <div>
        <div class="overline-bs regular px-1 py-4"> <%= form.label :description%> </div>
        <div class="input-container shadow-xs px-1"> <%= form.text_area :description, class: "input"%> </div>
      </div>
      <div>
        <div class="overline-bs regular px-1 py-4"> <%= form.label :cover%> </div>
        <div class="px-1"> <%= form.file_field :cover%>
      </div>
      <div class="cards-list py-1 px-1 size-category">
        <div class="card shadow-lg">
          <div class="card__header">
            <%= image_tag(photo.cover) if photo.cover.attached?%>
          </div>
        </div>
      </div>
      
      <div class="buttons_edit_category py-1 flex flex-column px-1 botton-flex gap-0.5">
        <%= form.submit 'Save photo', class: "button button--default button--sm bg-gray text-white overline-bs" %>
        <%= link_to "Back", photos_path, class: "btn_back_category button button--default button--sm text-decoration-none"%>
      </div>
    </div>
    
<%end%>