<h1><%=@photo.title%></h1>
<p><%= @photo.description%> </p>

<p>Updated at <%= @photo.updated_at.strftime('%B %d,%Y')%> </p>

<div> <%= image_tag @photo.cover %> </div>

<p> Comments </p>

<%= render "form2" , photo:@photo%>


<%# 
<% @comments.each do |comment|%>
  <%# <div> %>
    <%# <%= comment.body%>
    <%# <br/> %> 
    <%# <p>Send <%= (((comment.created_at - DateTime.now)*-1)/60/60/24).round() days ago</p> %> 
    <%# <%= link_to "destroy", photo_comment_path(comment), data: { %>
        <%# turbo_method: :delete, %>
        <%# turbo_confirm: "Are you sure?" %>
      <%# }%>
  <%# </div> %>
<%# <% end %>