<h1 class="head-sm semibold ft-Mont px-1"><%=@photo.title%></h1>
<p class="content-bs regular px-1"><%= @photo.description%> </p>

<p class="content-sm regular color-gray-300 ml-1">Updated at <%= @photo.updated_at.strftime('%B %d,%Y')%> </p>

<div class="cards-list py-1 px-1 size-category">
  <div class="card">
    <div class="card-header">
  <% if @photo.cover.attached? %>
    <%= image_tag @photo.cover %> 
  <%end%>
<%= render "form2" , photo:@photo%>
    </div>
  </div>
</div>
