<h1><%= @category.name %></h1>
<p><%= @category.description %></p>
</div>
  <%= link_to "New Photo", new_photo_path(category_id: @category.id)%>
</div>
<% @photos.each do |photo|%>
  <div> <%= image_tag photo.cover %> </div>
  <div>
    <%= photo.title%>
    
    <%= link_to "show", photo_path(photo) %>
    <%= link_to "edit", edit_photo_path(photo) %>
    <%= link_to "destroy", photo_path(photo), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      }%>
  </div>
<% end %>
<p>Comments</p>

<%= render "comments/form", entity: @category%>

