<!DOCTYPE html>
<html>
  <head>
    <title>SomesplashC8Team03Week10</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <header class="header">
    <nav class="navbar py-1">
      <img src="/images/somesplash.png" alt="SOMESPLASH" class="navbar__links" >
      <a href="/init_search">
        <button class="button button--default button--sm">SEARCH</button>
      </a>
    </nav>
  </header>
      
    <%= yield %>
  <footer class="footer" >
    <div clas="footer__content">
      Build with ♥ by
    </div>
    </footer>
  </body>
</html>
