<!DOCTYPE html>
<html>
  <head>
    <title>SomesplashC8Team03Week10</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <header class="header">
    <nav class="navbar ">
    <% link_to "Somesplash", category_path, class: "text_white"%>
    </nav>
    <%= form_with url: search_path, class:"header_search" , local: true, method: 'get' do|form| %>
        <%= form.label :search, class: "label_search" %>
        <%= form.text_field :query, class: "input_search" %>
      <% end %> 
  </header>
    <%= yield %>
  <footer class="footer" >
    <div clas="footer__content">
      Build with ♥ by
    </div>
    </footer>
  </body>
</html>
